body {
  font-family: 'Montserrat', sans-serif;
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: #555;
  border: none;
  outline: none;
  background: transparent;
  z-index: 1;
}
.slick-prev:before,
.slick-next:before {
  font-size: 30px;
  color: #555;
}
.slick-prev {
  left: -25px;
}
.slick-next {
  right: -25px;
}
